/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins";
  font-weight: 500;
}

body {
  font-family: "Poppins";
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 80vh;  
}

/* Header */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66%;
}

.nav-links{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.nav-links li {
  list-style: none;
  display: flex;
  align-items: center;
}

 

a {
  text-decoration: none;
  color: #000;
  transition: 200ms;
}

a:hover {
  color: #c4b2e8;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-toggle img {
  width: 50px;
  height: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #494949;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  z-index: 1000;
}

.sidebar ul {
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  color: #fff;
  font-size: 1.5em;
}

.sidebar.show {
  right: 0;
}

@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .header-logo {
    width: 30px;
  }
}




.container {
  width: 50%;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 30px;
}

h3 {
  margin: 10px 0 10px 0;
}

h2 {
   margin: 50px 0 10px 0;
}

h4 {
  margin: 50px 0 10px 0;
}

footer {
  background-color: #333;
  color: #fff;
   text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px 0 15px 0;
}

/* CSS EXEMPLO */

.containerExemplo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px; /* Define a altura padrão das linhas */
  gap: 20px;
  color: #fff;
}

.item1 {
  background-color: #494949;
  padding: 20px;
  text-align: center;
  grid-row: span 2; /* Ocupa duas linhas */
}

.item2 {
  background-color: #494949;
  padding: 20px;
  text-align: center;
  grid-column: span 2; /* Ocupa duas colunas */
  grid-row: span 2; /* Ocupa duas linhas */
}

.item3 {
  background-color: #494949;
  padding: 20px;
  text-align: center;
  grid-column: span 3; /* Ocupa três colunas */
}
